extends ../layouts/_layout.pug

block variables
  - var activePage = 'basic-table'
  - var activeGroup = 'tables'

block title
  title Devices

block content
  .app-title
    div
      h1
        i.fa.fa-th-list
        |  My Devices

    ul.app-breadcrumb.breadcrumb
      li.breadcrumb-item
        i.fa.fa-home.fa-lg
      li.breadcrumb-item
        | Tables
      li.breadcrumb-item.active
        a(href="#") Devices
  .row
    .col-md-12
      .tile
        h3.tile-title My Devices
        .table-responsive
          table.table
            thead
              tr
                th # 
                th Gateway ID
                th System Uptime
                th System Mem-free
                th System Load
                th Wifi-dog Uptime
                th -
                
                - if (devices) {
                    tbody
                -     devices.forEach((device, index) => {
                        tr
                          td #{index}
                          td #{device.gw_id}
                          td #{device.sys_uptime}
                          td #{device.sys_memfree}
                          td #{device.sys_load}
                          td #{device.wifidog_uptime}
                          td
                            a(href = `/admin/user/device?gw_id=${device.gw_id}`) view users
                -     })
                - }
            //- tbody
            //-   tr
            //-     td 0
            //-     td 24660045
            //-     td 4080
            //-     td 99252
            //-     td 0.00
            //-     td 602
            //-     td
            //-       a(href = '#') view users
            //- 
