extends ../layouts/_layout.pug

block variables
  - var activePage = 'dashboard'
  - var activeGroup = 'none'

block content
  .app-title
    div
      h1
        i.fa.fa-dashboard
        |  Fake Puppy
      p Auth server dashboard for wifi-dog

    ul.app-breadcrumb.breadcrumb
      li.breadcrumb-item
        i.fa.fa-home.fa-lg
      li.breadcrumb-item
        a(href='#') Dashboard

  .row
    .col-md-6.col-lg-3
      .widget-small.primary.coloured-icon
        i.icon.fa.fa-users.fa-3x
        div.info
          a(href = '/admin/user/all').h4 Total Guests
          p
            - if (qrcode) {
                b #{qrcode.index_info.all_user.length}
            - } else {
                b 0
            - };

    .col-md-6.col-lg-3
      .widget-small.info.coloured-icon
        i.icon.fa.fa-users.fa-3x
        div.info
          a(href = '/admin/user/active').h4 Oneline Guests
          p
            - if (qrcode) {
                b #{qrcode.index_info.active_user.length}
            - } else {
                b 0
            - };
            
    .col-md-6.col-lg-3
      .widget-small.warning.coloured-icon
        i.icon.fa.fa-wifi.fa-3x
        div.info
          a(href = '/admin/device').h4 My Devices
          p
            - if (qrcode) {
                b #{qrcode.index_info.device_info.length}
            - } else {
                b 0
            - };


    .col-md-6.col-lg-3
      .widget-small.danger.coloured-icon
        i.icon.fa.fa-qrcode.fa-3x
        div.info
          a(href = '/admin/qrcode').h4 Share NetWork

  .row

    .col-md-4
      .tile
        h3.title QR-Code for Guests
        form#gateway-sel(action='/admin/qrcode', method='get')
          .form-group
            label(for='gw_id') Gateway ID &nbsp
              button.badge.badge-info(type='submit', form='gateway-sel') Generate
            select#gw_id.form-control(name='gw_id')
              - if (devices) {
              -   devices.forEach((device) => {
              -     if (qrcode.active == device.gw_id) {
                      option(selected='selected') #{device.gw_id}  
              -     } else {
                      option #{device.gw_id}
              -     }
              -   });
              - }
            
          - if (qrcode)
              strong Auth Token: #{qrcode.token}
          br
          - if (qrcode)
              img(src = qrcode.qrcode, class = 'card-img-top', alt = 'Card image cap')

    .col-md-8
      .tile
        h3.tile-title How to use?
        p This theme is not built for a specific framework or technology like Angular or React etc. But due to it's modular nature it's very easy to incorporate it into any front-end or back-end framework like Angular, React or Laravel.

        p Go to #[a(href="http://pratikborsadiya.in/blog/vali-admin", target="_blank") documentation] for more details about integrating this theme with various frameworks.

        p The source code is available on GitHub. If anything is missing or weird please report it as an issue on #[a(href="https://github.com/pratikborsadiya/vali-admin", target="_blank") GitHub]. If you want to contribute to this theme pull requests are always welcome.


  
