extends ../layouts/_layout.pug

block variables
  - var activePage = 'dashboard'
  - var activeGroup = 'none'

block content
  .app-title
    div
      h1
        i.fa.fa-dashboard
        |  Portal 认证服务器
      p 信息安全竞赛

    ul.app-breadcrumb.breadcrumb
      li.breadcrumb-item
        i.fa.fa-home.fa-lg
      li.breadcrumb-item
        a(href='#') 控制面板

  .row
    .col-md-6.col-lg-3
      .widget-small.primary.coloured-icon
        i.icon.fa.fa-users.fa-3x
        div.info
          a(href = '/admin/user?sort=all').h4 所有用户
          p
            - if (index_info) {
                b #{index_info.all_users.length}
            - } else {
                b 0
            - };

    .col-md-6.col-lg-3
      .widget-small.info.coloured-icon
        i.icon.fa.fa-users.fa-3x
        div.info
          a(href = '/admin/user?sort=active').h4 在线用户
          p
            - if (index_info) {
                b #{index_info.active_users.length}
            - } else {
                b 0
            - };
            
    .col-md-6.col-lg-3
      .widget-small.warning.coloured-icon
        i.icon.fa.fa-wifi.fa-3x
        div.info
          a(href = '/admin/device').h4 我的设备
          p
            - if (index_info) {
                b #{index_info.all_devices.length}
            - } else {
                b 0
            - };


    .col-md-6.col-lg-3
      .widget-small.danger.coloured-icon
        i.icon.fa.fa-qrcode.fa-3x
        div.info
          a(href = '/admin/qrcode').h4 分享网络

  .row

    .col-md-4
      .tile
        h3.title 二维码生成
        form#gateway-sel(action='/admin/qrcode', method='get')
          .form-group
            label(for='gw_id') 网关 ID &nbsp
              button.badge.badge-info(type='submit', form='gateway-sel') 生成
            select#gw_id.form-control(name='gw_id')
              - if (devices) {
              -   devices.forEach((device) => {
              -     if (qrcode.active == device.gw_id) {
                      option(selected='selected') #{device.gw_id}  
              -     } else {
                      option #{device.gw_id}
              -     }
              -   });
              - }
            
          - if (qrcode.status) {
              strong 认证 Token: #{qrcode.token}
          - } else {
              strong 你还没有注册一个设备！
          - }
          br
          - if (qrcode.status)
              img(src = qrcode.qrcode, class = 'card-img-top', alt = 'Card image cap')
