extends ../layouts/_layout.pug

block variables
  - var activePage = 'dashboard'
  - var activeGroup = 'none'

block content
  .app-title
    div
      h1
        i.fa.fa-dashboard
        |  Fake Puppy
      p Auth server dashboard for wifi-dog

    ul.app-breadcrumb.breadcrumb
      li.breadcrumb-item
        i.fa.fa-home.fa-lg
      li.breadcrumb-item
        a(href='#') Dashboard

  .row
    .col-md-6.col-lg-3
      .widget-small.primary.coloured-icon
        i.icon.fa.fa-users.fa-3x
        div.info
          a(href = '/admin/user/all').h4 Total Guests
          p
            - if (index_info) {
                b #{index_info.all_users.length}
            - } else {
                b 0
            - };

    .col-md-6.col-lg-3
      .widget-small.info.coloured-icon
        i.icon.fa.fa-users.fa-3x
        div.info
          a(href = '/admin/user/active').h4 Oneline Guests
          p
            - if (index_info) {
                b #{index_info.active_users.length}
            - } else {
                b 0
            - };
            
    .col-md-6.col-lg-3
      .widget-small.warning.coloured-icon
        i.icon.fa.fa-wifi.fa-3x
        div.info
          a(href = '/admin/device').h4 My Devices
          p
            - if (index_info) {
                b #{index_info.all_devices.length}
            - } else {
                b 0
            - };


    .col-md-6.col-lg-3
      .widget-small.danger.coloured-icon
        i.icon.fa.fa-qrcode.fa-3x
        div.info
          a(href = '/admin/qrcode').h4 Share NetWork

  .row

    .col-md-4
      .tile
        h3.title QR-Code for Guests
        form#gateway-sel(action='/admin/qrcode', method='get')
          .form-group
            label(for='gw_id') Gateway ID &nbsp
              button.badge.badge-info(type='submit', form='gateway-sel') Generate
            select#gw_id.form-control(name='gw_id')
              - if (devices) {
              -   devices.forEach((device) => {
              -     if (qrcode.active == device.gw_id) {
                      option(selected='selected') #{device.gw_id}  
              -     } else {
                      option #{device.gw_id}
              -     }
              -   });
              - }
            
          - if (qrcode.status) {
              strong Auth Token: #{qrcode.token}
          - } else {
              strong You have not had a device
          - }
          br
          - if (qrcode.status)
              img(src = qrcode.qrcode, class = 'card-img-top', alt = 'Card image cap')
