extends ../layouts/_layout.pug

block variables
  - var activePage = 'basic-table'
  - var activeGroup = 'tables'

block title
  title Users

block content
  .app-title
    div
      h1
        i.fa.fa-th-list
        |  Users

    ul.app-breadcrumb.breadcrumb
      li.breadcrumb-item
        i.fa.fa-home.fa-lg
      li.breadcrumb-item
        | Tables
      li.breadcrumb-item.active
        a(href="#") Users
  .row
    .col-md-12
      .tile
        .table-responsive
          table.table
            thead
              tr
                th # 
                th IP Address
                th Mac Address
                th Gateway ID
                th Token
                th Incoming
                th Outgoing
                th Operation
                th -
                
            tbody
              - if (users) {
              -   users.forEach((user, index) => {
                    tr
                      td #{index}
                      td #{user.ip_addr}
                      td #{user.mac_addr}
                      td #{user.gw_id}
                      td #{user.token}
                      td #{user.incoming}
                      td #{user.outgoing}
                      td
                        a(href = `/admin/auth/kickout?token=${user.token}`) Kick out
                      td
                        a(href = `/admin/auth/remove?token=${user.token}`) Remove  
              -   });
              - }
