extends ../layouts/_layout.pug

block variables
  - var activePage = 'basic-table'
  - var activeGroup = 'tables'

block title
  title Users

block content
  .app-title
    div
      h1
        i.fa.fa-th-list
        | Users

    ul.app-breadcrumb.breadcrumb
      li.breadcrumb-item
        i.fa.fa-home.fa-lg
      li.breadcrumb-item
        | Tables
      li.breadcrumb-item.active
        a(href="#") Users
  .row
    .col-md-12
      .tile
        p 233
    .col-md-12
      .tile
        .table-responsive
          table.table
            thead
              tr
                th # 
                th State
                th IP Address
                th Mac Address
                th Gateway ID
                th Token
                th Incoming
                th Outgoing
                th Operation
                th -
                
            tbody
              - if (users.length > 0) {
              -   users.forEach((user, index) => {
                    tr
                      td #{index}
                      - if (user.state === 'pending') {
                          td
                            span.badge.badge-danger Offline
                      - } else if (user.state === 'activate') {
                          td
                            span.badge.badge-success Online
                      - }
                      td #{user.ip_addr}
                      td #{user.mac_addr}
                      td #{user.gw_id}
                      td #{user.token}
                      td #{user.incoming[user.incoming.length-1]}
                      td #{user.outgoing[user.outgoing.length-1]}
                      td
                        a(href = `/admin/auth/kickout?token=${user.token}`) Kick out
                      td
                        a(href = `/admin/auth/remove?token=${user.token}`) Remove  
              -   });
              - } else {
                  
                    p Oops, no user yet!
              - }

block specific-js
  - let socket_addr = socket_conf.addr;
  script.
    const socket = io.connect('#{socket_addr}');
    socket.on('loading', function (data) {
      // hand shake
      socket.emit('user-connection', { data: 'pong' });
    });
    
    
        
        
